<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron"> <h1>WOLF PLANET</h1>
        <p class="lead">엑셀 기능</p> <p>
            <a class="btn btn-lg btn-secondary" href="/upload/excel">엑셀 업로드</a>
            <a class="btn btn-lg btn-secondary" href="/download/excel">엑셀 다운로드</a> </p>
        <p class="lead">노션 기능</p> <p>
            <a class="btn btn-lg btn-dark" href="/date">노션 목록</a> </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>