<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <form action="/download/excel" method="POST">
            <p class="lead">데이터 종류</p>
            <select name="kinds">
                <option th:selected="${data}=='user'">사용자</option>
                <option th:selected="${data}=='event'">이벤트</option>
            </select>
            <br>
            <br>
            <p class="lead">시작 날짜</p>
            <p><input type="date" name="start"></p>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <p class="lead">종료 날짜</p>
            <p><input type="date" name="end"></p>
            <button type="submit" class="btn btn-primary">제출</button>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>